* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#topbarinfo {
  font-family: "Trebuchet MS";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

h1 {
  font-family: "Trebuchet MS";
  color: rgb(183, 255, 255);
  text-shadow: 0 0 8px rgba(1, 191, 238, 0.3);
}

#topbarinfo {
  text-decoration: none;
  text-shadow: 0 0 3px rgb(0, 0, 0);
}

/* ----content area---------- */

#content {
  background: linear-gradient(90deg, rgb(2, 22, 27), rgb(4, 151, 134));
}

#img-caption {
  background: rgba(61, 216, 255, 0.3);
  font-family: "Trebuchet MS";
  font-weight: 800;
  color: rgb(183, 255, 255);
  text-shadow: 0 0 3px rgb(5, 40, 49);
  text-transform: uppercase;
}

#tribute-info,
#tribute-info2,
#tribute-info3 {
  background: rgba(61, 216, 255, 0.521);
  box-shadow: 0 0 20px rgba(25, 70, 65, 1);
}

h2 {
  text-transform: uppercase;
}

h2,
p {
  font-family: "Trebuchet MS";
  color: rgb(183, 255, 255);
  text-shadow: 0 0 3px rgb(0, 0, 0);
}

#extlinks {
  font-family: "Trebuchet MS";
  color: rgb(183, 255, 255);
  font-style: italic;
}

#tribute-link {
  text-decoration: none;
  color: rgb(183, 255, 255);
}

#tribute-link:hover {
  color: rgb(172, 255, 220);
  text-shadow: 0 0 3px rgb(0, 0, 0);
  text-decoration-line: underline;
}
